* {
    padding: 0;
    margin: 0;
}
/* Importando fonte Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Estilos gerais */
body {
    font-family: 'inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: radial-gradient(circle, #6fb7c6, #73bdcc, #77c2d2, #7cc8d9, #80cedf, #87d2e0, #8ed5e2, #95d9e3, #a0dbe1, #acdddf, #b6dede, #c1e0de);
}

.container {
    display: flex;
    gap: 48px;
    width: 90%;
    width: 1440px;
    height: 1024px;
    overflow: hidden;
}

.input-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction:column ;
    align-items: flex-start;
    justify-content: center;
}

.output-section {
    width: 400px;
    height: 800px;
}

/* Estilos para o logo */
.logo {
    margin-top: 20px;
    width: 50px;
    height: auto;
    margin-bottom: 20px;
}

/* Estilos para o título */
h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #0A3871;
}

/* Estilos para a área de texto de entrada */
.input-section-text {
    width: 680px;
    height: 48px;
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #0A3871;
    padding: 10px;
    line-height: 48px;
    border-radius: 5px;
    background-color: #6fb7c600;
    animation: instant;
    border: none;
    outline: none;
}

/* Estilos para o container de informações */
.info-container {
    margin-top: 600px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Estilos para o ícone de informação */
.info-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

/* Estilos para o texto informativo */
.info-text {
    font-size: 14px;
    color: #666;
}

/* Estilos para o container de botões */
.buttons {
    display: flex;
    gap: 8px;
}

/* Estilos para botões gerais */
.btn {
    width: 328px;
    height: 67px;
    top: 885px;
    padding: 24px;
    font-size: 16px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilos para o botão Criptografar */
.criptografar {
    background-color: #0A3871;
    color: white;
    font-size: 24px;
    font-family: 'inter', sans-serif;
}

.criptografar:hover {
    background-color: #0056b3;
}

/* Estilos para o botão Descriptografar */
.descriptografar {
    background-color: #007bff;
    color: white;
    font-size: 24px;
    font-family: 'inter', sans-serif;
}

.descriptografar:hover {
    background-color: #0056b3;
}

/* Estilos para o botão de cópia */
.copy-button {
    background-color: blue;
    color: white;
    position: absolute;
    font-size: 24px;
    font-family: 'inter', sans-serif;
    top: 885px;
    right: 12%;
}

.copy-button:hover {
    background-color: blue; /* For browsers that do not support gradients */
  background-image: repeating-conic-gradient(blue 10%, white 20%);
  border-radius: 12%;
}

/* Estilos para a seção de saída */
.output-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Estilos para a mensagem de saída */
#outputMessage {
    font-size: 24px;
    color: #343A40;
    text-align: center;
    margin-top: 20px;
    display: block; /* Deve estar visível inicialmente */
}

#outputMessage strong{
    font-weight: 700;
}

/* Estilos para a imagem de placeholder */
img#placeholderImage {
    width: 336px;
    height: 304px;
    margin-bottom: 20px;
}

.textarea-container {
    position:fixed;
}

textarea#outputText {
    width: 400px;
    height: 944px;
    margin-top: 72px;
    line-height: 36px;
    padding: 20px;
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-left: 5px;
    color: #495057;
    align-items: center;
    border-radius: 32px;
    outline: none;
    border: none;
    display: none; /* Deve estar oculta inicialmente */
}